---
import '@fontsource-variable/urbanist';
import AZLogo from '/az-logo.svg'
import Icon from "../components/Icon.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>andreszapata.me</title>
	</head>
	<body>
		<div class="main p-12">
			<div class="section-one flex justify-between mb-28">
				<div>
					<img src={AZLogo} alt="{az}" class="w-[220px]" />
				</div>
				<div>
					<h1 class="text-[50px] font-medium">Hi there!</h1>
					<p class="text-xl font-light mb-4">
						I like the new <span class="font-semibold">ideas</span>, let's work on them together. I really enjoy designing,<br>
						developing software and bringing interesting projects to life.<br>
						These are some of my skills and portfolio, I hope you like it.
					</p>
					<button class="border-[1.5px] border-bleu-de-france rounded-lg px-5 py-2 text-sm font-semibold transition-colors hover:bg-bleu-de-france hover:text-white">Contact us</button>
				</div>
			</div>
			<div class="section-two h-[332px] flex flex-col items-center">
				<h2 class="text-4xl text-navy-blue font-semibold self-start mb-12">Skills</h2>
				<div class="w-7/12 grid grid-cols-5 justify-items-center mb-20">
					<div class="flex">
						<Icon name="figma" />
						<p class="font-semibold text-lg ml-4">UX/UI</p>
					</div>
					<div class="flex">
						<Icon name="astro" />
						<p class="font-semibold text-lg ml-4">Astro</p>
					</div>
					<div class="flex">
						<Icon name="tailwind" />
						<p class="font-semibold text-lg ml-4">Tailwind CSS</p>
					</div>
					<div class="flex">
						<Icon name="mongodb" />
						<p class="font-semibold text-lg ml-4">MongoDB</p>
					</div>
					<div class="flex">
						<Icon name="aws" />
						<p class="font-semibold text-lg ml-4">AWS</p>
					</div>
				</div>
				<div class="w-6/12 grid grid-cols-4 justify-items-center">
					<div class="flex">
						<Icon name="git" />
						<p class="font-semibold text-lg ml-4">Git</p>
					</div>
					<div class="flex">
						<Icon name="javascript" />
						<p class="font-semibold text-lg ml-4">JavaScript</p>
					</div>
					<div class="flex">
						<Icon name="react" />
						<p class="font-semibold text-lg ml-4">React</p>
					</div>
					<div class="flex">
						<Icon name="node" />
						<p class="font-semibold text-lg ml-4">Node.js</p>
					</div>
				</div>
			</div>
			<div class="section-three mb-28">
				<h2 class="text-4xl text-navy-blue font-semibold mb-8">Work and projects</h2>
				<div class="grid grid-cols-6">
					<div class="w-[140px] drop-shadow-[0_0_8px_rgba(0,0,0,0.11)]">
						<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
							<Icon name="ness" />
						</div>
						<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
							<p class="text-white text-sm ml-2">Ness Digital</p>
						</div>
					</div>
					<div class="w-[140px] drop-shadow-[0_0_8px_rgba(0,0,0,0.11)]">
						<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
							<Icon name="vive" />
						</div>
						<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
							<p class="text-white text-sm ml-2">Vive Solutions</p>
						</div>
					</div>
					<div class="w-[140px] drop-shadow-[0_0_8px_rgba(0,0,0,0.11)]">
						<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
							<Icon name="zanto" />
						</div>
						<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
							<p class="text-white text-sm ml-2">Zanto</p>
						</div>
					</div>
					<div class="w-[140px] drop-shadow-[0_0_8px_rgba(0,0,0,0.11)]">
						<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
							<Icon name="artan" />
						</div>
						<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
							<p class="text-white text-sm ml-2">Artan</p>
						</div>
					</div>
					<div class="w-[140px] drop-shadow-[0_0_8px_rgba(0,0,0,0.11)]">
						<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
							<Icon name="nab" />
						</div>
						<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
							<p class="text-white text-sm ml-2">NAB Tax Services</p>
						</div>
					</div>
					<div class="w-[140px] drop-shadow-[0_0_8px_rgba(0,0,0,0.11)]">
						<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
							<Icon name="githubproject" />
						</div>
						<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
							<p class="text-white text-sm ml-2">React Inventory</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="contact bg-[#292929] h-[422px] p-12">
			<h2 class="text-4xl text-white font-semibold mb-8">Contact us</h2>
			<div class="grid grid-cols-3">
				<div>
					<p class="text-white">1</p>
				</div>
				<div class="flex justify-center">
					<p class="text-white">Perhaps you'd like to complete this form...</p>
				</div>
				<div>
					<p class="text-white">3</p>
				</div>
			</div>
		</div>
		<div class="footer bg-bleu-de-france h-[130px] flex flex-col justify-center items-center">
			<div class="w-[212px] flex justify-between mt-6">
				<a href="https://twitter.com/andreszapataq" target="_blank"><Icon name="x" /></a>
				<a href="https://www.linkedin.com/in/andreszapataq/" target="_blank"><Icon name="linkedin" /></a>
				<a href="https://github.com/andreszapataq" target="_blank"><Icon name="github" /></a>
			</div>
			<p class="text-white text-sm mt-6">
				&copy; 2023 andreszapata.me
			</p>
		</div>
	</body>
</html>
