---
import '@fontsource-variable/urbanist';
import AZLogo from '/az-logo.svg'
import Icon from "../components/Icon.astro"
import FigmaIcon from "../components/FigmaIcon"
---

<html lang="en">
<!-- <html lang="en" class="scroll-smooth"> -->
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>andreszapata.me</title>
	</head>
	<body>
		<div class="main p-12">
			<div class="section-one flex justify-between h-[390px]">
				<div>
					<img src={AZLogo} alt="{az}" class="w-[220px]" />
				</div>
				<div>
					<h1 class="text-[50px] font-medium">Hi there!</h1>
					<p class="text-xl font-light mb-4">
						I like the new <span class="font-semibold">ideas</span>, let's work on them together. I really enjoy designing,<br>
						developing software and bringing interesting projects to life.<br>
						These are some of my skills and portfolio, I hope you like it.
					</p>
					<a href="#section-contact">
						<button class="border-[1.5px] border-bleu-de-france rounded-lg px-5 py-2 text-sm font-semibold transition-colors hover:bg-bleu-de-france hover:text-white">Contact us</button>
					</a>
				</div>
			</div>
			<div class="section-two">
				<h2 class="text-4xl text-navy-blue font-semibold">Skills</h2>
				<div class="h-[350px] flex flex-col justify-center items-center">
					<!-- Agregar responsive al grid de los iconos? -->
					<div class="w-7/12 grid grid-cols-5 justify-items-center mb-20">
						<div class="cursor-pointer transition-transform hover:scale-125">
							<FigmaIcon client:load />
						</div>
						<div class="flex">
							<Icon name="astro" />
							<p class="font-medium text-lg ml-4">Astro</p>
						</div>
						<div class="flex">
							<Icon name="tailwind" />
							<p class="font-medium text-lg ml-4">Tailwind CSS</p>
						</div>
						<div class="flex">
							<Icon name="mongodb" />
							<p class="font-medium text-lg ml-4">MongoDB</p>
						</div>
						<div class="flex">
							<Icon name="aws" />
							<p class="font-medium text-lg ml-4">AWS</p>
						</div>
					</div>
					<div class="w-6/12 grid grid-cols-4 justify-items-center">
						<div class="flex">
							<Icon name="git" />
							<p class="font-medium text-lg ml-4">Git</p>
						</div>
						<div class="flex">
							<Icon name="javascript" />
							<p class="font-medium text-lg ml-4">JavaScript</p>
						</div>
						<div class="flex">
							<Icon name="react" />
							<p class="font-medium text-lg ml-4">React</p>
						</div>
						<div class="flex">
							<Icon name="node" />
							<p class="font-medium text-lg ml-4">Node.js</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section-three">
				<h2 class="text-4xl text-navy-blue font-semibold">Work and projects</h2>
				<div class="h-[350px] flex flex-col justify-center">
					<div class="grid grid-cols-6">
						<div class="w-[140px] drop-shadow-[0_0_8px_rgba(0,0,0,0.11)]">
							<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
								<Icon name="ness" />
							</div>
							<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
								<p class="text-white text-sm ml-2">Ness Digital</p>
							</div>
						</div>
						<div class="w-[140px] drop-shadow-[0_0_8px_rgba(0,0,0,0.11)]">
							<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
								<Icon name="vive" />
							</div>
							<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
								<p class="text-white text-sm ml-2">Vive Solutions</p>
							</div>
						</div>
						<div class="w-[140px] drop-shadow-[0_0_8px_rgba(0,0,0,0.11)]">
							<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
								<Icon name="zanto" />
							</div>
							<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
								<p class="text-white text-sm ml-2">Zanto</p>
							</div>
						</div>
						<div class="w-[140px] drop-shadow-[0_0_8px_rgba(0,0,0,0.11)]">
							<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
								<Icon name="artan" />
							</div>
							<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
								<p class="text-white text-sm ml-2">Artan</p>
							</div>
						</div>
						<div class="w-[140px] drop-shadow-[0_0_8px_rgba(0,0,0,0.11)]">
							<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
								<Icon name="nab" />
							</div>
							<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
								<p class="text-white text-sm ml-2">NAB Tax Services</p>
							</div>
						</div>
						<div class="w-[140px] drop-shadow-[0_0_8px_rgba(0,0,0,0.11)]">
							<div class="h-[129px] bg-white rounded-t-lg flex justify-center items-center">
								<Icon name="githubproject" />
							</div>
							<div class="h-[36px] bg-bleu-de-france rounded-b-lg flex items-center">
								<p class="text-white text-sm ml-2">React Inventory</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="section-contact" class="section-contact bg-[#292929] p-12">
			<h2 class="text-4xl text-white font-semibold">Contact us</h2>
			<div class="flex flex-col justify-center">
				<div class="grid grid-cols-3 items-center">
					<div>
						<p class="text-white mb-3">Our email</p>
						<a href="mailto:contacto@andreszapata.me">
							<button class="flex items-center bg-bleu-de-france rounded-lg text-white px-6 py-4">
								<p class="font-medium mr-2">contacto@andreszapata.me</p>
								<Icon name="paperplane" />
							</button>
						</a>
					</div>
					<div class="flex justify-center">
						<p class="text-white">Perhaps you'd like to complete this form...</p>
					</div>
					<div class="justify-self-end">
						<!-- Agregar responsive al formulario -->
						<form action="" class="w-[500px] flex flex-col mb-8">
							<label for=""></label>
							<input class="appearance-none bg-transparent border-none mb-8" type="text" name="name" placeholder="Name">
							<label for=""></label>
							<input class="appearance-none bg-transparent border-none mb-8" type="email" name="email" placeholder="Email">
							<label for="message"></label>
							<textarea class="appearance-none bg-transparent border rounded-lg resize-none p-2" name="message" id="message" cols="30" rows="6" placeholder="Your message"></textarea>
							<!-- <input class="bg-bleu-de-france rounded-lg text-white px-5 py-4" type="submit" value="Send"> -->
						</form>
						<button class="bg-bleu-de-france rounded-lg text-white font-medium px-11 py-2.5" type="button">Send</button>
					</div>
				</div>
			</div>
		</div>
		<div class="section-footer bg-bleu-de-france h-[130px] flex flex-col justify-center items-center">
			<div class="w-[212px] flex justify-between my-6">
				<a href="https://twitter.com/andreszapataq" target="_blank"><Icon name="x" /></a>
				<a href="https://www.linkedin.com/in/andreszapataq/" target="_blank"><Icon name="linkedin" /></a>
				<a href="https://github.com/andreszapataq" target="_blank"><Icon name="github" /></a>
			</div>
			<p class="text-white text-[13px]">
				&copy; 2023 andreszapata.me
			</p>
		</div>
	</body>
</html>
